<div
  class="footer"
  style="
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  "
>
  <div class="col-5 mt-2" style="flex-direction: column">
    <div>
      <a
        style="text-decoration: none"
        class="text-white"
        href="https://bcmmovement.in"
        >BCM MOVEMENT.in</a
      >
    </div>

    <div class="copy-rights mt-1">
      © Copyright 2020-{{ yr }} BCM Movement. All rights reserved.
    </div>
  </div>
  <div class="col-6 mt-2" style="flex-direction: column">
    <div
      style="
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      "
    >
      <a
        style="text-decoration: none"
        class="text-white icon ml-3 mr-3"
        href="https://www.instagram.com/bcm.movement/#"
        target="_blank"
        ><i class="fa-brands fa-instagram"></i
          ></a>
          <a
          style="text-decoration: none"
          class="text-white icon ml-3 mr-3"
          href="https://www.youtube.com/@bcmmovement3248"
          target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </div>
    <div class="copy-rights mt-1" style="justify-content: flex-end;
    display: flex
;">
      Various trademarks and logos shown in the website are owned by their
      respective owners .
    </div>
  </div>
</div>
