<div class="about-wrapper">

  <div class="timeline">

    <div 
      class="timeline-item fade-in"
      *ngFor="let section of aboutData; let i = index"
      [ngClass]="{ 'left': i % 2 === 0, 'right': i % 2 !== 0 }"
    >

      <div class="timeline-dot"></div>

      <div class="timeline-card">

        <!-- IMAGE -->
        <div class="timeline-image">
          <img [src]="section.image" />
        </div>

        <!-- CONTENT -->
        <div class="timeline-content">

          <p 
             [innerHTML]="section.text"></p>

          <!-- <button class="read-btn" (click)="toggleRead(section)">
            {{ section.expanded ? 'Read Less' : 'Read More' }}
          </button> -->

        </div>

      </div>

    </div>

  </div>

</div>