<div class="gallery-wrapper">

  <div class="gallery-section" *ngFor="let images of images_list">

    <!-- Heading -->
    <h2 class="heading-glass">
      {{ images[0].gallery_name }}
    </h2>

    <!-- Gallery -->
    <lightgallery class="gallery-grid" [settings]="settings" (onInit)="onInit($event)">
      <a
      [attr.data-lg-size]="'1024-768'" 
             [attr.href]="base_url+image.image_url"
             [attr.data-lightbox]="image.id" 
       *ngFor="let image of images" class="gallery-item" [href]="base_url + image.image_url">
        <img [src]="base_url + image.thumb_url" alt="Gallery Image" />
      </a>
    </lightgallery>
  </div>

</div>