.bg-light {
    background-color: tomato !important;
}
.one {
    width:1%;
    max-width: 3.33333%;
}
.three { 
    width: 30%;
}
.log {
    vertical-align: middle;
    padding: 15px;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color:#fff !important;
    margin-left: -14px;
}
.fa-sign-out {
    margin-right: 10px;
    color:#fff;
    font-weight: bold;
    font-size: 16px;
}
label {
    background:red;
    color:#fff;
    padding: 0px 5px 0px 5px;
    position: absolute;
    margin-top: 20px;
    margin-left: 24px;
    border-radius: 4px;
    font-size: 10px;
}
input#global {
    border-radius: 6px;
    background: #4b4c4a;
    color: #fff;
    border: 1px solid #4b4c4a!important;
}
.fa.pull-right {
    color: #fff;
    padding: 8px 0 0 0;
}

.fa-search:before {
    position: absolute;
    font-size: 22px;
    right: 28px;
    /* top: 6px; */
}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
  }

  input#global {
    outline: none!important;
    outline-width: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar {
    padding: 0rem 0rem;
}
.search-bar {
    height: calc(2rem + 2px);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: #fff;
}
.navbar-nav {
    margin: 0;
    text-align: left;
    float: left;
}
.has-search {
    margin-bottom: 0rem;
    width: 100%;
}

.header-mobile{
    height: 50px;
    display: flex;
 
    align-items: center;
}

.col-md-1{
    float: left;
    max-width: 4.33333%;
}
.nav-link{
    font-size: 18px;
    font-weight: 300;
}
.col-md-fourhalf{
    flex: 0 0  21%;;
    max-width: 33.33333%;
}
.logout{
    padding-left: 7% !important;
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        align-items: center;
        float: none;
    }
    .mobile{
        display: none !important;
    }
    .header-mobile{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .signout-font{
        font-size: 26px;
    }
    img{
     width: 120px;
     height: 35px !important;
    }
    .mobile-nav{
        justify-content: flex-start !important;
        align-items: center;
        margin-left: 60px;
    }
    .dropdown-menu{
        position: absolute !important;
        left: -100% !important;
        top: 202% !important;
        width: max-content !important;
    }
    .col-md-fourhalf{
        flex: 0 0 83.33333% !important;
        max-width: 83.33333% !important;
    }
    .logout{
        padding-left: 10% !important;
    }
}

.fa-bars:before {
    content: "\f0c9";
    color: #fff;
    font-size: 27px;
}
span.log-txt {
    font-size: 19px;
    margin-left: 7px;
}