<nav
  class="navbar navbar-expand-lg card navbar-transparent navbar-absolute fixed-top"
  style="background: whitesmoke; border-radius: 0px"
>
  <div class="container-fluid">
    <!-- <div class="navbar-wrapper">
      
      <a class="navbar-brand" style="color:tomato;min-height: 25px;" href="#pablo">{{ '' }}</a>
    </div> -->
    <!-- [class.ml-auto]="!menuStatus" -->
    <div
      class="col-1 col-md-1 header__pan toggle header-mobile"
      (click)="SideNavToggle()"
    >
      <div>
        <a
          type="button"
          class="hamburger close-sidebar-btn hamburger--elastic"
          data-class="closed-sidebar"
        >
          <span class="hamburger-box">
            <i
              style="font-size: 25px; color: lightcoral"
              class="fal fa-bars"
            ></i>
          </span>
        </a>
      </div>
    </div>
    <div style="display: flex; align-items: center">
      <a
        *ngIf="!token"
        type="button"
        class="hamburger close-sidebar-btn hamburger--elastic"
        data-class="closed-sidebar"
        href="#/login"
      >
        <span class="hamburger-box">
          <i
            style="font-size: 25px; color: lightcoral"
            class="fas fa-sign-in-alt"
          ></i>
        </span>
      </a>
     
      
      <div *ngIf="token" class="relative inline-block text-left">
        <button (click)="setdropdown()" id="dropdownButton1" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          {{full_name?full_name==undefined||full_name!='undefined'?'Admin':full_name:'Admin'}}
        </button>
        
        <div id="dropdownMenu1" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg hidden">
          <div class="py-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Option 1</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Option 2</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Option 3</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons media-2_sound-wave"></i>
                <p>
                  <span class="d-lg-none d-md-block">Stats</span>
                </p>
              </a>
            </li>
            <li class="nav-item" ngbDropdown>
              <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                <i class="now-ui-icons location_world"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons users_single-02"></i>
                <p>
                  <span class="d-lg-none d-md-block">Account</span>
                </p>
              </a>
            </li>
          </ul>
        </div> -->
  </div>
</nav>
<mat-progress-bar
  *ngIf="this._auth.getLoading()"
  mode="indeterminate"
  style="z-index: 99999"
></mat-progress-bar>
