<div class="app-main__inner">
  <div class="divider mt-0 mb-1"></div>
  <div class="row ml-0" style="margin: 0px">
    <div class="col-12 col-md-12">
      <div class="card mt-2">
        <ul class="body-tabs body-tabs-layout nav">
          <!-- style="width: 100px; padding: 8px 5px;height:100%;display: flex;justify-content: center;align-items: center;" -->
          <li class="nav-item mr-1 ml-1 mt-2">
            <a
              id="tab-1"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#student_manage"
              class="btn-pill btn-wide active btn btn-outline-primary btn-m"
              >MANAGE STUDENTS</a
            >
          </li>
          <li class="nav-item mr-1 ml-1 mt-2">
            <a
              id="tab-1"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#student_filter"
              class="btn-pill btn-wide btn btn-outline-primary btn-m"
              >STUDENT FILTERS</a
            >
          </li>
          <li class="nav-item mr-1 ml-1 mt-2">
            <a
              id="tab-1"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#student_reports"
              class="btn-pill btn-wide btn btn-outline-primary btn-m"
              >STUDENT REPORTS</a
            >
          </li>
        </ul>

        <div class="tab-content mt-0 main-card mb-3">
          <!-- [ngClass]="state=='student_manage'?'col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show active':'col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show'" -->
          <div
            id="student_reports"
            class="col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show"
            role="tabpanel"
            style="padding-right: 0px !important"
          >
            <div>
              <ul class="body-tabs ml-2 body-tabs-layout nav">
                <!-- style="width: 100px; padding: 8px 5px;height:100%;display: flex;justify-content: center;align-items: center;" -->
                <li class="nav-item mr-1 ml-1 mt-2">
                  <a
                    id="tab-1"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#report_table"
                    class="btn-pill btn-wide active btn btn-outline-primary btn-m"
                    >REPORT</a
                  >
                </li>
                <li class="nav-item mr-1 ml-1 mt-2">
                  <a
                    id="tab-1"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#report_filter"
                    class="btn-pill btn-wide btn btn-outline-primary btn-m"
                    >FILTER</a
                  >
                </li>
              </ul>
              <div class="tab-content mt-n1 main-card mb-3">
                <!-- [ngClass]="state=='student_manage'?'col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show active':'col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show'" -->
                <div
                  id="report_filter"
                  class="col-12 col-md-12 mt-2 tab-pane tabs-animation fade show"
                  role="tabpanel"
                  style="padding-right: 0px !important; padding: 0px"
                >
                  <div class="card-body">
                    <div class="card-title">Select School</div>
                    <form
                      [formGroup]="school_search_form6"
                      class="col-md-12 mt-n2"
                      style="display: flex; padding: 0px"
                    >
                      <ng-autocomplete
                        class="col-md-3_5"
                        [data]="schoolsList"
                        formControlName="school"
                        [searchKeyword]="keyword"
                        placeholder="Enter School Name"
                        (selected)="selected_school6($event)"
                        [itemTemplate]="list"
                        style="padding: 0px"
                      >
                      </ng-autocomplete>

                      <ng-template #list let-item>
                        <a [innerHTML]="item.school_name"></a>
                      </ng-template>
                      <select (change)="select_report_filters($event)" *ngIf="report_data1.length>0" class="ml-3 col-md-3_5 form-select">
                        <option value="">Select Report</option>
                        <option *ngFor="let item of report_data1" [value]="item.id">{{item.report_name}}</option>

                      </select>
                    </form>
                    <div *ngIf="report_filter_data.length > 0" class="card-title mt-3">
                      Student Report List
                    </div>
                    <form
                      *ngIf="report_filter_data.length > 0"
                      class="mt-n2"
                      [formGroup]="myForm6"
                    >
                      <div formArrayName="inputs6">
                        <table class="table table-bordered">
                          <tr>
                            <th>
                              <div class="row">
                                <input
                                  type="checkbox"
                                  class="form-check ml-2"
                                  (change)="check_all_column6($event)"
                                  [checked]=""
                                />
                                <span style="width: max-content">
                                  Check All
                                </span>
                              </div>
                            </th>
                            <th>Title</th>
                          </tr>
                          <tr
                            *ngFor="let item of inputs6.controls; let i = index"
                          >
                            <td >
                              <input
                                type="checkbox"
                                class="form-check"
                                (change)="set_value_column6($event, i, 4)"
                                [checked]="item.value.ischecked"
                              />
                            </td>
                            <td>
                              {{ item.value.title }}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </form>
                    <div *ngIf="report_filter_data.length > 0">
                      <button
                        (click)="submit_student_report_filters()"
                        class="btn btn-success"
                        style="width: max-content"
                      >
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </div>

                <div
                  id="report_table"
                  class="col-12 col-md-12 mt-2 tab-pane tabs-animation fade show active"
                  role="tabpanel"
                  style="padding-right: 0px !important; padding: 0px"
                >
                  <div class="card-body">
                    <div class="card-title">Select School</div>
                    <form
                      [formGroup]="school_search_form5"
                      class="col-md-12 mt-n2"
                      style="display: flex; padding: 0px"
                    >
                      <ng-autocomplete
                        class="col-md-3_5"
                        [data]="schoolsList"
                        formControlName="school"
                        [searchKeyword]="keyword"
                        placeholder="Enter School Name"
                        (selected)="selected_school5($event)"
                        [itemTemplate]="list"
                        style="padding: 0px"
                      >
                      </ng-autocomplete>

                      <ng-template #list let-item>
                        <a [innerHTML]="item.school_name"></a>
                      </ng-template>
                      
                    </form>
                    <div *ngIf="report_data.length > 0" class="card-title mt-3">
                      Student Report List
                    </div>
                    <form
                      *ngIf="report_data.length > 0"
                      class="mt-n2"
                      [formGroup]="myForm5"
                    >
                      <div formArrayName="inputs5">
                        <table class="table table-bordered">
                          <tr>
                            <th>
                              <div class="row">
                                <input
                                  type="checkbox"
                                  class="form-check ml-2"
                                  (change)="check_all_column5($event)"
                                  [checked]=""
                                />
                                <span style="width: max-content">
                                  Check All
                                </span>
                              </div>
                            </th>
                            <th>Title</th>
                          </tr>
                          <tr
                            *ngFor="let item of inputs5.controls; let i = index"
                          >
                            <td *ngIf="item.value.column_name != 'school_id'">
                              <input
                                type="checkbox"
                                class="form-check"
                                (change)="set_value_column5($event, i, 4)"
                                [checked]="item.value.ischecked"
                              />
                            </td>
                            <td>
                              {{ item.value.report_name }}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </form>
                    <div *ngIf="report_data.length > 0">
                      <button
                        (click)="submit_student_report()"
                        class="btn btn-success"
                        style="width: max-content"
                      >
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="student_manage"
            class="col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show active"
            role="tabpanel"
            style="padding-right: 0px !important"
          >
            <div class="card-body">
              <div class="card-title">Select School</div>
              <form
                [formGroup]="school_search_form"
                class="col-md-12 mt-n2"
                style="display: flex; padding: 0px"
              >
                <ng-autocomplete
                  class="col-md-3_5"
                  [data]="schoolsList"
                  formControlName="school"
                  [searchKeyword]="keyword"
                  placeholder="Enter School Name"
                  (selected)="selected_school5($event)"
                  [itemTemplate]="list"
                  style="padding: 0px"
                >
                </ng-autocomplete>

                <ng-template #list let-item>
                  <a [innerHTML]="item.school_name"></a>
                </ng-template>
              </form>
              <div *ngIf="all_column.length > 0" class="card-title mt-3">
                Student Column List
              </div>
              <form
                *ngIf="all_column.length > 0"
                class="mt-n2"
                [formGroup]="myForm"
              >
                <div formArrayName="inputs">
                  <table class="table table-bordered">
                    <tr>
                      <th>
                        <div class="row">
                          <input
                            type="checkbox"
                            class="form-check ml-2"
                            (change)="check_all_column($event)"
                            [checked]=""
                          />
                          <span style="width: max-content"> Check All </span>
                        </div>
                      </th>
                      <th>Title</th>
                      <th>Custom Title</th>
                      <th>Category Type</th>
                      <th>Field Type</th>
                      <th>Table View</th>
                    </tr>
                    <tr *ngFor="let item of inputs.controls; let i = index">
                      <td *ngIf="item.value.column_name != 'school_id'">
                        <input
                          type="checkbox"
                          class="form-check"
                          (change)="set_value_column($event, i, 4)"
                          [checked]="item.value.column_status == '1'"
                          [disabled]="
                            item.value.column_name == 'status' ||
                            item.value.column_name == 'student_reg_id' ||
                            item.value.column_name == 'first_name' ||
                            item.value.column_name == 'dob' ||
                            item.value.column_name == 'class_id' ||
                            item.value.column_name == 'school_id' ||
                            item.value.column_name == 'academic_year'
                          "
                        />
                      </td>
                      <td *ngIf="item.value.column_name != 'school_id'">
                        {{ item.value.title }}
                      </td>
                      <td *ngIf="item.value.column_name != 'school_id'">
                        <div>
                          <input
                            [id]="'a' + item.value.id"
                            class="form-control"
                            (change)="set_value_column($event, i, 1)"
                            [value]="
                              item.value.column_status == '1'
                                ? item.value.custom_title
                                : ''
                            "
                            [placeholder]="'Enter ' + item.value.title"
                          />
                        </div>
                      </td>
                      <td *ngIf="item.value.column_name != 'school_id'">
                        <div>
                          <select
                            [id]="'b' + item.value.id"
                            class="form-select"
                            (change)="set_value_column($event, i, 2)"
                            [value]="item.value.category"
                            [disabled]="
                              item.value.column_name == 'status' ||
                              item.value.column_name == 'student_reg_id' ||
                              item.value.column_name == 'first_name' ||
                              item.value.column_name == 'dob' ||
                              item.value.column_name == 'class_id' ||
                              item.value.column_name == 'school_id' ||
                              item.value.column_name == 'academic_year'
                            "
                          >
                            <option value="0">Select Category</option>
                            <option value="1">Student Details</option>
                            <option value="2">Father Details</option>
                            <option value="3">Mother Details</option>
                            <option value="4">Guardian Details</option>
                            <option value="5">Student Health</option>
                            <option value="6">Other</option>
                          </select>
                        </div>
                      </td>
                      <td *ngIf="item.value.column_name != 'school_id'">
                        <div>
                          <select
                            [id]="'c' + item.value.id"
                            class="form-select"
                            (change)="set_value_column($event, i, 3)"
                            [value]="item.value.field_type"
                            [disabled]="
                              item.value.column_name == 'status' ||
                              item.value.column_name == 'student_reg_id' ||
                              item.value.column_name == 'first_name' ||
                              item.value.column_name == 'dob' ||
                              item.value.column_name == 'class_id' ||
                              item.value.column_name == 'school_id' ||
                              item.value.column_name == 'academic_year'
                            "
                          >
                            <option value="">Select Category</option>
                            <option value="1">Mandatory</option>
                            <option value="2">Optional</option>
                          </select>
                        </div>
                      </td>
                      <td *ngIf="item.value.column_name != 'school_id'">
                        <input
                          type="checkbox"
                          class="form-check"
                          (change)="set_value_column($event, i, 5)"
                          [checked]="item.value.db_visibility == '1'"
                          [disabled]="
                            item.value.column_name == 'student_reg_id'
                          "
                        />
                      </td>
                    </tr>
                  </table>
                </div>
              </form>
              <div *ngIf="all_column.length > 0">
                <button
                  class="btn btn-success"
                  type="button"
                  (click)="submit_student_column()"
                >
                  SUBMIT
                </button>
              </div>
            </div>
          </div>
          <div
            id="student_filter"
            class="col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show"
            role="tabpanel"
            style="padding-right: 0px !important"
          >
            <div>
              <ul class="body-tabs ml-2 body-tabs-layout nav">
                <!-- style="width: 100px; padding: 8px 5px;height:100%;display: flex;justify-content: center;align-items: center;" -->
                <li class="nav-item mr-1 ml-1 mt-2">
                  <a
                    id="tab-1"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#filters_filter"
                    class="btn-pill btn-wide active btn btn-outline-primary btn-m"
                    >FILTERS</a
                  >
                </li>
                <li class="nav-item mr-1 ml-1 mt-2">
                  <a
                    id="tab-1"
                    role="tab"
                    data-bs-toggle="tab"
                    data-bs-target="#filters_label"
                    class="btn-pill btn-wide btn btn-outline-primary btn-m"
                    >LABEL</a
                  >
                </li>
                <!-- <li class="nav-item mr-1 ml-1 mt-2">
                <a
                  id="tab-1"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#filters_table"
                  class="btn-pill btn-wide btn btn-outline-primary btn-m"
                  >TABLE</a
                >
              </li> -->
              </ul>
              <div class="tab-content mt-n1 main-card mb-3">
                <!-- [ngClass]="state=='student_manage'?'col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show active':'col-12 col-md-12 ml-n3 tab-pane tabs-animation fade show'" -->
                <div
                  id="filters_filter"
                  class="col-12 col-md-12 mt-2 tab-pane tabs-animation fade show active"
                  role="tabpanel"
                  style="padding-right: 0px !important; padding: 0px"
                >
                  <div class="card-body">
                    <div class="card-title">Select School</div>
                    <form
                      [formGroup]="school_search_form2"
                      class="col-md-12 mt-n2"
                      style="display: flex; padding: 0px"
                    >
                      <ng-autocomplete
                        class="col-md-3_5"
                        [data]="schoolsList"
                        formControlName="school"
                        [searchKeyword]="keyword"
                        placeholder="Enter School Name"
                        (selected)="selected_school2($event)"
                        [itemTemplate]="list"
                        style="padding: 0px"
                      >
                      </ng-autocomplete>

                      <ng-template #list let-item>
                        <a [innerHTML]="item.school_name"></a>
                      </ng-template>
                    </form>
                    <div
                      *ngIf="inputs2.controls.length > 0"
                      class="card-title mt-3"
                    >
                      Student Filters List
                    </div>
                    <form
                      *ngIf="inputs2.controls.length > 0"
                      class="mt-n2"
                      [formGroup]="myForm2"
                    >
                      <div formArrayName="inputs2">
                        <table class="table table-bordered">
                          <tr>
                            <th>
                              <div class="row">
                                <input
                                  type="checkbox"
                                  class="form-check ml-2"
                                  (change)="check_all_column2($event)"
                                  [checked]=""
                                />
                                <span style="width: max-content">
                                  Check All
                                </span>
                              </div>
                            </th>
                            <th>Title</th>
                          </tr>
                          <tr
                            *ngFor="let item of inputs2.controls; let i = index"
                          >
                            <td>
                              <input
                                type="checkbox"
                                class="form-check"
                                (change)="set_value_column2($event, i, 1)"
                                [checked]="item.value.filter_type == '1'"
                              />
                            </td>
                            <td>
                              {{
                                item.value.custom_title
                                  ? item.value.custom_title
                                  : item.value.title
                              }}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </form>
                    <div *ngIf="inputs2.controls.length > 0">
                      <button
                        class="btn btn-success"
                        type="button"
                        (click)="submit_student_filter()"
                      >
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  id="filters_label"
                  class="col-12 col-md-12 mt-2 tab-pane tabs-animation fade show"
                  role="tabpanel"
                  style="padding-right: 0px !important; padding: 0px"
                >
                  <div class="card-body">
                    <div class="card-title">Select School</div>
                    <form
                      [formGroup]="school_search_form3"
                      class="col-md-12 mt-n2"
                      style="display: flex; padding: 0px"
                    >
                      <ng-autocomplete
                        class="col-md-3_5"
                        [data]="schoolsList"
                        formControlName="school"
                        [searchKeyword]="keyword"
                        placeholder="Enter School Name"
                        (selected)="selected_school3($event)"
                        [itemTemplate]="list"
                        style="padding: 0px"
                      >
                      </ng-autocomplete>

                      <ng-template #list let-item>
                        <a [innerHTML]="item.school_name"></a>
                      </ng-template>
                    </form>
                    <div
                      *ngIf="inputs3.controls.length > 0"
                      class="card-title mt-3"
                    >
                      Student Filters List
                    </div>
                    <form
                      *ngIf="inputs3.controls.length > 0"
                      class="mt-n2"
                      [formGroup]="myForm3"
                    >
                      <div formArrayName="inputs3">
                        <table class="table table-bordered">
                          <tr>
                            <th>
                              <div class="row">
                                <input
                                  type="checkbox"
                                  class="form-check ml-2"
                                  (change)="check_all_column3($event)"
                                  [checked]=""
                                />
                                <span style="width: max-content">
                                  Check All
                                </span>
                              </div>
                            </th>
                            <th>Title</th>
                          </tr>
                          <tr
                            *ngFor="let item of inputs3.controls; let i = index"
                          >
                            <td>
                              <input
                                type="checkbox"
                                class="form-check"
                                (change)="set_value_column3($event, i, 1)"
                                [checked]="item.value.ischecked == '1'"
                              />
                            </td>
                            <td>{{ item.value.title }}</td>
                          </tr>
                        </table>
                      </div>
                    </form>
                    <div *ngIf="inputs3.controls.length > 0">
                      <button
                        class="btn btn-success"
                        type="button"
                        (click)="submit_student_filter_label()"
                      >
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </div>
                <div
                  id="filters_table"
                  class="col-12 col-md-12 mt-2 tab-pane tabs-animation fade show"
                  role="tabpanel"
                  style="padding-right: 0px !important; padding: 0px"
                >
                  <div class="card-body">
                    <div class="card-title">Select School</div>
                    <form
                      [formGroup]="school_search_form4"
                      class="col-md-12 mt-n2"
                      style="display: flex; padding: 0px"
                    >
                      <ng-autocomplete
                        class="col-md-3_5"
                        [data]="schoolsList"
                        formControlName="school"
                        [searchKeyword]="keyword"
                        placeholder="Enter School Name"
                        (selected)="selected_school4($event)"
                        [itemTemplate]="list"
                        style="padding: 0px"
                      >
                      </ng-autocomplete>

                      <ng-template #list let-item>
                        <a [innerHTML]="item.school_name"></a>
                      </ng-template>
                    </form>
                    <div
                      *ngIf="inputs4.controls.length > 0"
                      class="card-title mt-3"
                    >
                      Student Filters List
                    </div>
                    <form
                      *ngIf="inputs4.controls.length > 0"
                      class="mt-n2"
                      [formGroup]="myForm4"
                    >
                      <div formArrayName="inputs4">
                        <table class="table table-bordered">
                          <tr>
                            <th>
                              <div class="row">
                                <input
                                  type="checkbox"
                                  class="form-check ml-2"
                                  (change)="check_all_column4($event)"
                                  [checked]=""
                                />
                                <span style="width: max-content">
                                  Check All
                                </span>
                              </div>
                            </th>
                            <th>Title</th>
                          </tr>
                          <tr
                            *ngFor="let item of inputs4.controls; let i = index"
                          >
                            <td>
                              <input
                                type="checkbox"
                                class="form-check"
                                (change)="set_value_column4($event, i, 1)"
                                [checked]="item.value.filter_status == '1'"
                                [disabled]="item.value.field_type == '2'"
                              />
                            </td>
                            <td>{{ item.value.filter_name }}</td>
                          </tr>
                        </table>
                      </div>
                    </form>
                    <div *ngIf="inputs4.controls.length > 0">
                      <button
                        class="btn btn-success"
                        type="button"
                        (click)="submit_student_filter_table()"
                      >
                        SUBMIT
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
