.body_login {
  background: linear-gradient(135deg, #667eea, #764ba2);
  /* background: #101010; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 400px;
  /* padding: 10px; */
}
.card-title {
 color: aliceblue;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 400;

}

@media only screen and (max-width: 767px) {
  .container {
    width: 95% !important;
  }

}