<div class="body_login">
  <div class="glass-container container">
    <h2 class="card-title text-center">
      MEMBER LOGIN
    </h2>
    <form [formGroup]="adminLogin" style="display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;">

      <input formControlName="username" style="width: 300px;" class="glass-input" placeholder="Enter Username" />
      <input type="password" formControlName="password" style="width: 300px;" class="glass-input"
        placeholder="Enter Password" />
      <button (click)="loginAdmin()" style="width: 300px;" class="glass-button mt-2">
        SUBMIT
      </button>
    </form>

  </div>

</div>