<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="All Employee">
    <div class="card-body">
      <h2
        class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200"
      >
        EMPLOYEE LIST
      </h2>
      <div class="flex flex-wrap space-x-4">
        <div class="w-full">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <tr
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <th scope="col" class="px-6 py-3">Registation Number</th>
              <th scope="col" class="px-6 py-3">Full Name</th>
              <th scope="col" class="px-6 py-3">Designation</th>
              <th scope="col" class="px-6 py-3">Field Name</th>
              <th scope="col" class="px-6 py-3">DOB</th>
              <th scope="col" class="px-6 py-3">Father Name</th>
              <th scope="col" class="text-center px-6 py-3">Status</th>
            </tr>
            <tr
              class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
              *ngFor="let item of employee_list"
            >
              <td scope="col" class="px-6 py-3">{{ item.reg_id }}</td>
              <td scope="col" class="px-6 py-3">{{ item.name }}</td>
              <td scope="col" class="px-6 py-3">{{ item.designation_name }}</td>
              <!-- <td scope="col" class="px-6 py-3">{{ item.branch_name }}</td> -->
              <td scope="col" class="px-6 py-3">{{ item.field_name }}</td>
              <td scope="col" class="px-6 py-3">{{ item.date_of_birth|date:'dd-MMM-yyyy' }}</td>
              <td scope="col" class="px-6 py-3">{{ item.father_name }}</td>
              <td scope="col" class="text-center px-6 py-3">{{ conv_status(item.status) }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Add Employee">
    <div class="card-body">
      <h2
        class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200"
      >
        ADD EMPLOYEE
      </h2>
      <form [formGroup]="user_form" class="flex flex-wrap space-x-4">
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Registration Number
        </div>
        <input
          formControlName="reg_id"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Registration Number"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Full Name
        </div>
        <input
          formControlName="name"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Full name"
        />

        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Adhar Number
        </div>
        <input
          formControlName="adhar"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Adhar Number"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Gender
        </div>
        <select
          formControlName="gender"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
        >
          <option  value="" disabled>Select Gender</option>
          <option  value="M">Male</option>
          <option  value="F" >Female</option>
        </select>
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Designation
        </div>
        <select
          formControlName="designation"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
        >
          <option  value="" disabled>Select Designation</option>
          <option *ngFor="let item of designation_list" [value]="item.id">{{item.designation_name}}</option>
        </select>

        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Email
        </div>
        <input
          formControlName="email"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Email"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Education Qualification
        </div>
        <input
          formControlName="education_qualification"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Education Qualification"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Branch Name
        </div>
        <select
        (change)="filter_field()"
        formControlName="branch"
        class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
      >
        <option  value="" disabled>Select Branch</option>
        <option *ngFor="let item of branch_list" [value]="item.id">{{item.branch_name}}</option>
      </select>
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Field Name
        </div>
       
        <select
        formControlName="field_name"
        class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
      >
        <option  value="" disabled>Select Field</option>
        <option *ngFor="let item of field_list_filtered" [value]="item.id">{{item.field_name}}</option>
      </select>
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Date Of Birth
        </div>
        <input
          formControlName="date_of_birth"
          type="date"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Address
        </div>
        <input
          formControlName="address"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Address"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          People Group
        </div>
        <input
          formControlName="people_group"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter People Group"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Language Known
        </div>
        <input
          formControlName="language_known"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Language Known"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Date Of Joining
        </div>
        <input
          formControlName="date_of_joining"
          type="date"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Date Of Joining"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Contact Number
        </div>
        <input
          formControlName="contact_no"
          type="number"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Contact Number"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Martial Status
        </div>
        
        <select
        formControlName="martial_status"
        class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
      >
        <option  value="" disabled>Select Status</option>
        <option value="UnMarried">UnMarried</option>
        <option value="Married">Married</option>
        <option value="Divorced">Divorced</option>
      </select>
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Spouse Name
        </div>
        <input
          formControlName="spouse_name"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Spouse Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Date Of Marriage
        </div>
        <input
          formControlName="date_of_marriage"
          type="date"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Spouse Occupation
        </div>
        <input
          formControlName="spouse_occupation"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Spouse Occupation"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Father Name
        </div>
        <input
          formControlName="father_name"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Father Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Mother Name
        </div>
        <input
          formControlName="mother_name"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Mother Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          First Child Name
        </div>
        <input
          formControlName="child_1"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Child Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Second Child Name
        </div>
        <input
          formControlName="child_2"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Child Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Third Child Name
        </div>
        <input
          formControlName="child_3"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Child Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Fourth Child Name
        </div>
        <input
          formControlName="child_4"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Child Name"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Fifth Child Name
        </div>
        <input
          formControlName="child_5"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Child Name"
        />
       
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Status
        </div>
        <select
        formControlName="status"
        class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
      >
        <option  value="" disabled>Select Status</option>
        <option value="1">Active</option>
        <option value="2">InActive</option>
        <option value="3">Resigned</option>
        <option value="4">Deceased</option>
      </select>
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Image URL
        </div>
        <input
          formControlName="image"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Image Url"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end">
          Family Image URL
        </div>
        <input
          formControlName="family_image"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Family Image Url"
        />
        <div class="w-1/1 mt-3 flex justify-center">
          <button
            (click)="submit_user()"
            class="button bg-blue-500 text-white m-2 p-2 hover:bg-blue-700 focus:outline-none"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Third">
    
  </mat-tab> -->
</mat-tab-group>
