<div class="card-body mx-5 my-5">
  <div #calendar class="full-calendar-container">
    <div *ngFor="let event of program_data" class="relative group">
      <!-- Event Box -->
      <div class="fc-event p-4 bg-gray-100 rounded shadow-lg cursor-pointer">
        <!-- Title of the Event -->
        <div class="font-bold text-lg">
          {{ event.event_name }}
        </div>

        <!-- Tooltip with Description that appears on hover -->
        <div class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-black text-white text-sm rounded px-3 py-2 z-10 shadow-lg">
          <div class="calendar-event-details">
            <p>{{ event.details }}</p>
            <!-- Optional Image -->
            <img *ngIf="event.imageUrl" [src]="event.imageUrl?+base_url+event.imageUrl:'assets/images/profile.png'" alt="Event Image" class="calendar-event-image mt-2 w-16 h-16 object-cover rounded-lg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
