quill-editor .ql-editor {
  font-family: 'Roboto', sans-serif !important;
}

.mat-tab-group {
    margin-bottom: 48px;
  }

  .input {
    width: 100%;                /* Full width of the container */
    padding: 10px 15px;         /* Add padding inside the input */
    border: 2px solid #ccc;    /* Border with a light gray color */
    border-radius: 4px;        /* Rounded corners */
    font-size: 16px;           /* Font size inside the input */
    font-family: Arial, sans-serif; /* Font family */
    background-color: #f9f9f9; /* Light background color */
    color: #333;               /* Text color */
    transition: all 0.3s ease; /* Smooth transition for focus and hover */
  }
  
  .input:focus {
    border-color: #4c63af;     /* Change border color when focused */
    outline: none;             /* Remove outline when focused */
    background-color: #fff;    /* Change background color when focused */
  }
  .input:valid{
    border-color: #4CAF50; 
  }
  .input:invalid{
    border-color: #ff4242; 
  }
  
  .input:hover {
    border-color: #888;        /* Change border color when hovering */
  }