<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Dashboard">
    <div class="m-2">
      <h2 class="text-2xl font-semibold text-gray-800">DASHBOARD IMAGES</h2>
      <form [formGroup]="dashboard_casrol_form" class="-mt-4">
        <input
          formControlName="title"
          class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Title"
        />
        <input
          formControlName="url"
          class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Image URL"
        />
        <input
          formControlName="detail"
          class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Detail"
        />
        <button
          (click)="submit_dashboard_casrol()"
          class="button bg-blue-500 text-white m-2 p-2 hover:bg-blue-700 focus:outline-none"
        >
          SUBMIT
        </button>
      </form>
    </div>
    <div class="m-2">
      <h2 class="text-2xl font-semibold text-gray-800">PROGRAMS</h2>
      <form [formGroup]="dashboard_program_form" class="-mt-4">
        <input
          formControlName="title"
          class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Title"
        />
        <input
          formControlName="url"
          class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Image URL"
        />
        <input
          formControlName="detail"
          class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Detail"
        />
        <button
          (click)="submit_dashboard_program()"
          class="button bg-blue-500 text-white m-2 p-2 hover:bg-blue-700 focus:outline-none"
        >
          SUBMIT
        </button>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Users">
    <div class="m-2">
        <h2 class="text-2xl font-semibold text-gray-800">Create User</h2>
        <form [formGroup]="user_form" class="-mt-4">
          <input
            formControlName="username"
            class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Username"
          />
          <input
            formControlName="password"
            type="password"
            class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Password"
          />
          <input
            formControlName="full_name"
            class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Full Name"
          />
          <input
            formControlName="image"
            class="border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Image Url"
          />
          <button
            (click)="submit_user()"
            class="button bg-blue-500 text-white m-2 p-2 hover:bg-blue-700 focus:outline-none"
          >
            SUBMIT
          </button>
        </form>
      </div>
  </mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>
