<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Dashboard">
    <div class="card-body">
      <h2 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200">DASHBOARD IMAGES</h2>
      <form [formGroup]="dashboard_casrol_form" class="  flex flex-wrap space-x-4">
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Title
        </div>
        <input
          formControlName="title"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Title"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Image
        </div>
      
        <input
        formControlName="file"
                                (change)="onChangeImage($event)"
                                type="file"
                                class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"

                              />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Details
        </div>
        <input
          formControlName="detail"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Detail"
        />
        <div class="w-1/1 mt-3 flex justify-center">

          <button
            (click)="submit_dashboard_casrol()"
            class="button bg-indigo-500 text-white m-2 p-2 hover:bg-indigo-700 focus:outline-none"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </div>
    <hr class="border-t border-gray-300 my-2" />

    <div class="card-body">
      <h2 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200">PROGRAMS</h2>
      <form [formGroup]="dashboard_program_form" class="  flex flex-wrap space-x-4">
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Title
        </div>
        <input
          formControlName="title"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Title"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Image URL
        </div>
        <input
          formControlName="url"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Image URL"
        />
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Detail
        </div>
        <input
          formControlName="detail"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Detail"
        />
        <div class="w-1/1 mt-3 flex justify-center">

        <button
          (click)="submit_dashboard_program()"
          class="button bg-indigo-500 text-white m-2 p-2 hover:bg-indigo-700 focus:outline-none"
        >
          SUBMIT
        </button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Users">
    <div class="card-body">
        <h2 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200">Create User</h2>
        <form [formGroup]="user_form" class="  flex flex-wrap space-x-4">
          <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
            Username
          </div>
          <input
            formControlName="username"
            class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Username"
          />
        
          <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
            Full Name
          </div>
          <input
            formControlName="full_name"
            class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Full Name"
          />
          <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
            Password
          </div>
          <input
            formControlName="password"
            type="password"
            class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Password"
          />
          <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
            Confirm Password
          </div>
          <input
            formControlName="confirm_password"
            type="password"
            class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Password"
          />
          <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
            Image URL
          </div>
          <input
            formControlName="image"
            class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
            placeholder="Enter Image Url"
          />
          <div class="w-1/1 mt-3 flex justify-center">

            <button
            (click)="submit_user()"
            class="button bg-indigo-500 text-white m-2 p-2 hover:bg-indigo-700 focus:outline-none"
            >
            SUBMIT
          </button>
        </div>
        </form>
      </div>
  </mat-tab>
  <mat-tab label="Employee">
    <div class="card-body">
      <h2 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200">BRANCH</h2>
      <form [formGroup]="branch_form" class="  flex flex-wrap space-x-4">
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Branch Name
        </div>
        <input
          formControlName="branch_name"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Branch Name"
        />       
        <div class="w-1/1 mt-3 flex justify-center">

          <button
            (click)="submit_branch()"
            class="button bg-indigo-500 text-white m-2 p-2 hover:bg-indigo-700 focus:outline-none"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </div>
    <hr class="border-t border-gray-300 my-2" />

    <div class="card-body">
      <h2 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200">MISSION FIELD</h2>
      <form [formGroup]="field_form" class="  flex flex-wrap space-x-4">
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Branch
        </div>
        <select
          formControlName="branch_id"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
         
        >
        <option  value="" disabled>Select Branch</option>
        <option *ngFor="let item of branch_list" [value]="item.id">{{item.branch_name}}</option>

        </select>
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Field Name
        </div>
        <input
          formControlName="field_name"
          class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Enter Title"
        />
        
        <div class="w-1/1 mt-3 flex justify-center">

        <button
          (click)="submit_field()"
          class="button bg-indigo-500 text-white m-2 p-2 hover:bg-indigo-700 focus:outline-none"
        >
          SUBMIT
        </button>
        </div>
      </form>
    </div>
    <hr class="border-t border-gray-300 my-2" />

    <div class="card-body">
      <h2 class="text-2xl md:text-3xl pl-2 my-2 border-l-4 font-sans font-bold border-fuchsia-600 dark:text-gray-200">DESIGNATION</h2>
      <form [formGroup]="designation_form" class="  flex flex-wrap space-x-4">
        <div class="sm:w-1/1_5 md:w-1/5 flex items-center justify-end ">
          Designation
        </div>
        <input
        formControlName="designation"
        class="sm:w-1/1_5 md:w-1/3_5 border border-gray-300 p-2 m-2 rounded-lg focus:outline-none focus:border-blue-500"
        placeholder="Enter Title"
      />
       
        
        <div class="w-1/1 mt-3 flex justify-center">

        <button
          (click)="submit_designation()"
          class="button bg-indigo-500 text-white m-2 p-2 hover:bg-indigo-700 focus:outline-none"
        >
          SUBMIT
        </button>
        </div>
      </form>
    </div>
  </mat-tab>

</mat-tab-group>
