/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;

@tailwind utilities; */
/* @import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities; */
@font-face {
  font-family: 'Neon Glow';
  src: url('https://assets.codepen.io/230569/NeonGlow-8VLz.ttf');
}
@font-face {
  font-family: 'Bamini';
  src: url('/src/assets/fonts/Bamini.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ql-font-Bamini {
  font-family: 'Bamini', sans-serif;
}
/* calendar */
/* Tooltip style (hidden by default) */
.calendar-event-details {
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  position: absolute;
  top: 100%; /* Position above the event box */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 150px;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999999 !important;
  
}
.fc-header-toolbar {
  z-index: 10; /* Lower z-index of calendar header to be below tooltip */
}

/* Image style */
.calendar-event-image {
  width: 40px; /* Adjust the size of the image */
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  object-fit: cover;
}

/* Show event details on hover */
.fc-event:hover .calendar-event-details {
  display: block;
  opacity: 1; /* Fade in the details */
  transform: translateX(-50%) translateY(5px); /* Slightly move the tooltip upwards */
  z-index: 9999 !important;

}

/* Add hover zoom effect for event */
.fc-event:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
  transition: transform 0.2s ease-in-out;
  z-index: 9999 !important;

}
.fc-event{
z-index: 1;
}
app-homepage{
  flex: 1;
}
app-calendar{
  flex: 1;
}
app-employee{
  flex: 1;
}
app-field_report{
  flex: 1;
}
app-gallery{
  flex: 1;
}
app-mobile_app{
  flex: 1;
}
app-setting{
  flex: 1;
}

select,
input {
  height: 34px !important;
}
.button {
  border-radius: 8px;
  min-width: 90px;
}
.button-small {
  border-radius: 8px;
  min-width: 50px;
}
.loader {
  display: flex;
  margin: 0;
  position: absolute;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.dropdown-menu.dropdown-select-class.show {
  height: 300px;
  overflow: hidden auto;
}

.flex {
  display: flex;
}

.mlt-select-txt {
  padding-left: 10px;
  margin-top: 6px;
}

.btn-primary,
.btn-success,
.btn-dark,
.btn-primary,
.btn-warning,
.btn-danger,
.btn-info,
.btn-secondary {
  height: 34px !important;
}
.form-select {
  height: 34px !important;
}

.form-select,
input {
  font-size: 13px !important;
}

@media print {
  .isPrinting > * {
    display: none;
  }
  .isPrinting app-print-layout {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .body {
    width: 100% !important;
    height: 100vh;
    margin-left: 0px !important;
    background-color: white !important;
  }
}
.ql-editor {
  font-family: 'Noto Sans Tamil', sans-serif;
}
app-header {
  position: fixed;
  width: inherit;
  z-index: 10;
  /* height: 51%; */
}
.autocomplete-container .input-container .x {
  display: none !important;
  position: absolute;
  right: 10px;
  margin: auto;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}
.autocomplete-container .input-container input {
  display: block !important;
  width: 100% !important;
  /* width: inherit !important; */
  padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
  -moz-padding-start: calc(0.75rem - 3px) !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #212529 !important;
  background-color: #fff !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  height: 32.5px !important;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #f4d7fa;
  border-radius: 6px;
  min-height: 4px;
}
::-webkit-scrollbar:hover {
  width: 5px;
  background-color: #f4d7fa;
  border-radius: 2px;
  min-height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(235, 233, 233);
  border-radius: 2px;
  min-height: 40px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #050c31;
  border-radius: 2px;
  min-height: 40px !important;
}
/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #050c31;
  border-radius: 2px;
  min-height: 40px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #050c31;
  min-height: 40px;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 0;
}
@media only screen and (max-width: 767px) {
  .autocomplete-container .input-container input {
    width: 100% !important;
  }
  .mobile .autocomplete-container .input-container input {
    width: 100% !important;
  }
  /* ng-multiselect-dropdown > .multiselect-dropdown{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding:0px;
  } */
}

.autocomplete-container {
  box-shadow: none !important;
  position: relative;
  overflow: visible;
  height: -webkit-fill-available !important;
}
.multiselect-dropdown {
  padding: 0px;
}
input[type="date"] {
  position: relative;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: right;
  background-size: auto;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 1;
  left: 0;
  right: 0;
  top: 1;
  width: auto;
}
.form-control {
  height: -webkit-fill-available;
}
.form-select {
  height: -webkit-fill-available;
}
.msexcel {
  width: 20px;
  height: 20px;
  background-position: 5%;
  background-size: contain;
  background-repeat: no-repeat;
}

.app-main__outer {
  transition: left 250ms ease-in, width 250ms ease-in;
  /* flex: 1; */
}

app-sidenav {
  width: 0px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;
}

.btn-warning {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.btn-danger {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.btn-success {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  height: -webkit-fill-available;
}

.btn-primary {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  height: -webkit-fill-available;
}
.form-control {
  color: #495057;
}
.form-select {
  color: #495057;
}
.btn-dark {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  height: -webkit-fill-available;
}
.btn-secondary {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  height: -webkit-fill-available;
}
.btn-small {
  /* padding: 3px 7px 3px 7px !important; */
  font-size: 11px !important;
  color: #fff !important;
  font-weight: 600 !important;
  padding: 5px 5px !important;
  height: 28px !important;
}
.button-label {
  padding: 5px 8px !important;
  font-size: 9px;
  border: 4px;
}

.btn-info {
  font-weight: 600 !important;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  height: -webkit-fill-available;
}

.dropdown-sticky {
  border: 1px solid rgb(204, 204, 204);
  /* display: block; */
  position: absolute !important;
  /* top: 38% !important; */
  margin-top: 56px !important;
  z-index: 1;
}

.table-info > .mat-sort-header > .mat-sort-header-container {
  background-color: transparent !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f1f4f6;
}

.card-body {
  padding: 1rem !important;
}

.btn-close{
  filter: invert(1) contrast(100%) brightness(100%);
}
.w-1\/1_5 {
  @media (width >= 48rem) {
    width: calc(1 / 2 * 96%);
  }
  @media (width < 48rem) {
    width: calc(1 / 2 * 96%);
    /* width: calc(1 / 4* 94%); */
  }
}
.md\:w-1\/5 {
  @media (width >= 48rem) {
    width: calc(1 / 5* 100%);
  }
  @media (width < 48rem) {
    width: calc(1 / 2* 86%)
    /* width: calc(1 / 4* 94%); */
  }
}

.md\:w-1\/3_5 {
  @media (width >= 48rem) {
    width: calc(1 / 4 * 94%);
  }
  @media (width < 48rem) {
    width: calc(1 / 2 * 96%);
    /* width: calc(1 / 4* 94%); */
  }
}
